.user-form {
  width: 450px;
  height: 700px;

  box-sizing: border-box;
  padding: 100px 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: #fff;
  box-shadow: 0px 2px 8px rgba($color-dark, 0.1);

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;

    &.signup {
      gap: 30px;
      label {
        position: absolute;
        display: inline;
        top: -15px; 
        font-size: 12px; 
        color: $color-darkgrey;
        pointer-events:none;
      }
    }

    .input-box {
      position: relative;
      .input {
        box-sizing: border-box;
        width: 300px !important;
        height: 40px;
  
        background-color: #f1f1f1;
        color: $color-darkgrey;
        border-bottom: 2px solid $color-grey;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 10px;
  
        &:focus-within,
        &.checked {
          border-bottom: 2px solid $color-primary;
        }
  
        i {
          font-size: 20px;
          color: $color-grey;
        }
  
        input {
          width: 100%;
          height: 20px;
          font-size: 1rem;
          background: none;
          box-shadow: none;
          border: none;
          outline: none;
          transition: none;
        }
      }
      .error-text {
        max-width: 260px;
        margin-top: 3px;
        padding-left: 20px;
        color: $color-grey;
        font-size: .8rem;
        font-weight: 200;
      }
    }
  }
  
  .move-signup {
    font-size: 12px;
    color: $color-grey;

    span {
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .btn-submit {
    width: 300px;
    height: 45px;
    margin-top: 20px;
    
    background-color: $color-primary;
    color: #f1f1f1;
  
    font-size: 18px;
    font-weight: 700;
  
    box-shadow: none;
    border: none;
    outline: none;
  
    &.disable {
      pointer-events: none;
      background-color: $color-darkgrey;
    }
  }
}
